.randomForm div
{
    margin: 20px 0 20px 0;
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
    box-shadow: 0 0 5px;
}

.randomForm input, .randomForm textarea
{
    font-size: 18px;
    margin: 5px 5px;
}

.inputCls
{
    width: 100%;    
}
